/*Thinner scrollbar*/
::-webkit-scrollbar {
	height: 6px !important;
	width: 0px !important;
	background-color: transparent;
}

/* header background */ .Header--with-active-sticky-header .Header__sticky, .glue-page-header--with-active-sticky-header .glue-page-header__sticky, .glue-page-header__content-wrapper, .Header__content-wrapper, .glue-page-header__background-scroll-overlay {
	background: transparent
}

/* motherfucking header shadow */ .glue-page-header__background-image-overlay-gradient {
	background: linear-gradient(to bottom, transparent, var(--modspotify_main_bg))
}


/* album page header gradient garbage */
		/* gradient */ .glue-page-header__background-color, .GlueHeader__background-overlay {
			background-color: var(--modspotify_main_bg);
			background-image: linear-gradient(to bottom, transparent, var(--modspotify_main_bg));
		}

		/* overlay */ .glue-page-header__background-overlay {
			background: transparent
		}

		/* scrolling overlay */ .glue-page-header__background-scroll-overlay-ellipse {
			background-image: radial-gradient(circle farthest-corner, transparent, var(--modspotify_main_bg) 50%)
		}

		/* backdrop */ .glue-page-header__background-scroll-overlay-ellipse-backdrop, .Header__background-overlay, .Header__background-scroll-overlay {
			background: var(--modspotify_main_bg)
		}

		/* absolutely retarded header gradient */ .glue-page-header__top-bar, .Header__top-bar {
			background: linear-gradient(var(--modspotify_main_bg), var(--modspotify_main_bg) 48px, transparent)
		}