@import url("resource:///org/gnome/arc-theme/gtk-main.css");

.header-bar.default-decoration .button.titlebutton,
.titlebar.default-decoration .button.titlebutton {
  padding-top: 0px;
  padding-bottom: 0px; }

.header-bar .button.titlebutton,
.titlebar .button.titlebutton {
  padding-left: 4px;
  padding-right: 4px;
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  background-color: rgba(47, 52, 63, 0); }
  .header-bar .button.titlebutton:not(GtkMenuButton),
  .titlebar .button.titlebutton:not(GtkMenuButton) {
    padding-top: 8px;
    padding-bottom: 8px; }
  .header-bar .button.titlebutton:hover,
  .titlebar .button.titlebutton:hover {
    color: rgba(207, 218, 231, 0.8);
    outline-color: rgba(207, 218, 231, 0.1);
    border-color: rgba(21, 23, 28, 0.37);
    background-color: rgba(95, 105, 127, 0.37); }
  .header-bar .button.titlebutton:active, .header-bar .button.titlebutton:checked,
  .titlebar .button.titlebutton:active,
  .titlebar .button.titlebutton:checked {
    color: #ffffff;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: transparent;
    background-color: #e6af2e; }
  .header-bar .button.titlebutton.close, .header-bar .button.titlebutton.maximize, .header-bar .button.titlebutton.minimize,
  .titlebar .button.titlebutton.close,
  .titlebar .button.titlebutton.maximize,
  .titlebar .button.titlebutton.minimize {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 0; }
    .header-bar .button.titlebutton.close:backdrop, .header-bar .button.titlebutton.maximize:backdrop, .header-bar .button.titlebutton.minimize:backdrop,
    .titlebar .button.titlebutton.close:backdrop,
    .titlebar .button.titlebutton.maximize:backdrop,
    .titlebar .button.titlebutton.minimize:backdrop {
      opacity: 1; }
  .header-bar .button.titlebutton.close,
  .titlebar .button.titlebutton.close {
    background-image: -gtk-scaled(url("assets/titlebutton-close-dark.png"), url("assets/titlebutton-close-dark@2.png")) !important; }
  .header-bar .button.titlebutton.close:backdrop,
  .titlebar .button.titlebutton.close:backdrop {
    background-image: -gtk-scaled(url("assets/titlebutton-close-backdrop-dark.png"), url("assets/titlebutton-close-backdrop-dark@2.png")) !important; }
  .header-bar .button.titlebutton.close:hover,
  .titlebar .button.titlebutton.close:hover {
    background-image: -gtk-scaled(url("assets/titlebutton-close-hover-dark.png"), url("assets/titlebutton-close-hover-dark@2.png")) !important; }
  .header-bar .button.titlebutton.close:active,
  .titlebar .button.titlebutton.close:active {
    background-image: -gtk-scaled(url("assets/titlebutton-close-active-dark.png"), url("assets/titlebutton-close-active-dark@2.png")) !important; }
  .header-bar .button.titlebutton.maximize,
  .titlebar .button.titlebutton.maximize {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize-dark.png"), url("assets/titlebutton-maximize-dark@2.png")); }
  .header-bar .button.titlebutton.maximize:backdrop,
  .titlebar .button.titlebutton.maximize:backdrop {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize-backdrop-dark.png"), url("assets/titlebutton-maximize-backdrop-dark@2.png")); }
  .header-bar .button.titlebutton.maximize:hover,
  .titlebar .button.titlebutton.maximize:hover {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize-hover-dark.png"), url("assets/titlebutton-maximize-hover-dark@2.png")); }
  .header-bar .button.titlebutton.maximize:active,
  .titlebar .button.titlebutton.maximize:active {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize-active-dark.png"), url("assets/titlebutton-maximize-active-dark@2.png")); }
  .header-bar .button.titlebutton.minimize,
  .titlebar .button.titlebutton.minimize {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize-dark.png"), url("assets/titlebutton-minimize-dark@2.png")); }
  .header-bar .button.titlebutton.minimize:backdrop,
  .titlebar .button.titlebutton.minimize:backdrop {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize-backdrop-dark.png"), url("assets/titlebutton-minimize-backdrop-dark@2.png")); }
  .header-bar .button.titlebutton.minimize:hover,
  .titlebar .button.titlebutton.minimize:hover {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize-hover-dark.png"), url("assets/titlebutton-minimize-hover-dark@2.png")); }
  .header-bar .button.titlebutton.minimize:active,
  .titlebar .button.titlebutton.minimize:active {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize-active-dark.png"), url("assets/titlebutton-minimize-active-dark@2.png")); }

